@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
body {
  margin: 100px;
  margin-left: 200px;
  margin-right: 200px;
}

.parent {
  font-family: "Poppins", sans-serif;
  padding: 30px;
  border: solid 1px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
  grid-template-rows: 0.9fr 0.3fr 0.7fr 0.3fr 0fr 0fr 0fr 0fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 {
  grid-area: 7 / 1 / 8 / 2;
}
.div2 {
  grid-area: 7 / 2 / 8 / 3;
}
.div3 {
  grid-area: 7 / 3 / 8 / 4;
}
.div4 {
  grid-area: 7 / 4 / 8 / 5;
}
.div5 {
  grid-area: 7 / 5 / 8 / 6;
}
.div6 {
  grid-area: 6 / 1 / 7 / 2;
}
.div7 {
  grid-area: 6 / 2 / 7 / 3;
}
.div8 {
  grid-area: 6 / 3 / 7 / 4;
}
.div9 {
  grid-area: 6 / 4 / 7 / 5;
}
.div10 {
  grid-area: 6 / 5 / 7 / 6;
}
.div11 {
  grid-area: 5 / 1 / 6 / 2;
}
.div12 {
  grid-area: 5 / 2 / 6 / 3;
}
.div13 {
  grid-area: 5 / 3 / 6 / 4;
}
.div14 {
  grid-area: 5 / 4 / 6 / 5;
}
.div15 {
  grid-area: 5 / 5 / 6 / 6;
}
.div16 {
  grid-area: 2 / 3 / 5 / 7;
}
.div17 {
  grid-area: 1 / 1 / 2 / 4;
}
.div18 {
  grid-area: 1 / 4 / 2 / 6;
}
.div19 {
  grid-area: 2 / 1 / 5 / 3;
}
.div20 {
  grid-area: 8 / 1 / 9 / 6;
}
/* section 1 DONE */
.city-search {
  font-family: "Poppins", sans-serif;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 140%;
  font-size: 30px;
  padding-right: 30px;
}
.city-search-button {
  font-family: "Poppins", sans-serif;
  padding: 20px;
  font-size: 30px;
  margin-left: 65%;
  border: black 1px solid;
  border-radius: 10px;
  color: white;
  background: black;
  transition-duration: 0.2s;
}
.city-search-button:hover {
  cursor: pointer;
  color: black;
  border: white 1px solid;
  background: white;
  box-shadow: rgb(194, 193, 193) 1px 2px 10px;
}

/* section 2 DONE*/
.city-name {
  font-size: 85px;
  line-height: 0px;
}
.today-icon {
  margin-left: 46%;
  width: 100px;
  height: 100px;
  display: inline;
}
.weather-temp {
  margin-left: 10px;
  font-size: 90px;
  display: inline;
}
.weather-temp:hover {
  cursor: pointer;
}
.measure {
  font-size: 60px;
  font-style: normal;
}
.city-weather-data {
  font-size: 20px;
}
/* section 3 */

.weather-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70px;
  height: 70px;
}
.dayOftheweek {
  font-size: 20px;
  text-align: center;
}
.high-low {
  text-align: center;
  font-size: 15px;
}

/* section 4*/
.project-links {
  font-style: italic;
}
